{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<h3 class="season-title">{{tvDetail.name}}</h3>
{% for season in tvDetail.seasons %}

<div class="row detail-background"  >
    <div class="detail-div" style="padding-top: 0px !important;">
       

            <div class=" detail-div1" >
                <img class="card-img-top detail-div1-img" src="https://image.tmdb.org/t/p/w500{{season.poster_path}}"  alt="Card image cap" onerror="this.src='static/default-movie.jpg';">
            
            
        </div>
        
        <div class="">
           
            
            
            <p class="search-area-title"><a href="{% url 'episodes' tvid=tvDetail.id seasonnumber=season.season_number %}">{{season.name}}</a></p>
            <p class="search-area-text"> Air date: {{season.air_date}}               
            </p>
            <p class="search-area-text"> <a href="{% url 'get_season_trailers' id1=tvDetail.id id2=season.season_number %}" style="color: goldenrod;"><span><i class="fa fa-play" style="font-size:16px;color:goldenrod"></i>Play Trailers</span></a></p>
            <p class="search-area-text"> <a href="{% url 'episodes' tvid=tvDetail.id seasonnumber=season.season_number %}"> Episodes: {{season.episode_count}} </a></p>
          
            <h4 class="search-area-text">Overview:</h4>
            {% if season.overview %}
            <p class="search-area-text">{{season.overview}}</p>
            {% else %}
            <p class="search-area-text">{{tvDetail.overview}}</p>
            {%  endif %}
          
            
        </div>
    

    </div>
    <br>
    <hr style="border: 2px solid white;">
</div>
{% endfor %}





{% endblock %}