{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}"></script> 
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1155296088390494"
     crossorigin="anonymous"></script>
    <title>SolvedMovies</title>
</head>
<body>

    <div class="">
        <div class="row main-nav">
        <div class="col-lg-2 nav-header"><h5>COMP340Movies</h5></div>
        <div class="navbar1 col-lg-10">
            
            <a href="#sign_up" class="active"><i class="fa fa-user" style="font-size:16px;color:white"></i> Sign Up</a>
            <a href="{% url 'contact_us' %}">Contact Us</a>
            
            <div class="dropdown1">
              <a class="dropbtn" href="{% url 'getmovies' %}">Home
                
              </a>
              
            </div>

            <div class="dropdown1">
                <button class="dropbtn">Popular
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="{% url 'popular_movies' %}">Movies</a>
                  <a href="{% url 'popular_tv' %}">Tv Shows</a>
                  <a href="{% url 'get_animations' %}">Animations</a>
                </div>
              </div>

              <div class="dropdown1">
                <button class="dropbtn">Trending
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="{% url 'trending_day' %}">Day</a>
                  <a href="{% url 'trending_week' %}">Week</a>
                  
                </div>
              </div>

              <div class="dropdown1">
                <button class="dropbtn">Genre
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="{% url 'genre' 28 %}">Action</a>
                  <a href="{% url 'genre' 12 %}">Adventure</a>
                  <a href="{% url 'genre' 16 %}">Animation</a>
                  <a href="{% url 'genre' 35 %}">Comedy</a>
                  <a href="{% url 'genre' 80 %}">Crime</a>
                  <a href="{% url 'genre' 99 %}">Documentary</a>
                  <a href="{% url 'genre' 18 %}">Drama</a>
                  <a href="{% url 'genre' 10751 %}">Family</a>
                  <a href="{% url 'genre' 14 %}">Fantasy</a>
                  <a href="{% url 'genre' 36 %}">History</a>
                  <a href="{% url 'genre' 27 %}">Horror</a>
                  <a href="{% url 'genre' 10402 %}">Music</a>
                  <a href="{% url 'genre' 9648 %}">Mystery</a>
                  <a href="{% url 'genre' 10749 %}">Romance</a>
                  <a href="{% url 'genre' 878 %}">Science Fiction</a>
                  <a href="{% url 'genre' 10770 %}">Tv Movie</a>
                  <a href="{% url 'genre' 53 %}">Thriller</a>
                  <a href="{% url 'genre' 10752 %}">War</a>
                  <a href="{% url 'genre' 37 %}">Western</a>
                  
                </div>
              </div>

              <div class="dropdown1">
                <button class="dropbtn">Trailers
                    <i class="fa fa-caret-down"></i>
                  
                </button>
                <div class="dropdown-content">
                  <a href="{% url 'videoTrailers' %}">Movies</a>
                  <a href="{% url 'videoTrailers' %}">Tv Shows</a>
                  <a href="{% url 'videoTrailers' %}">Animations</a>
                </div>
              </div>
          </div> 

        </div>
        <div class="row contact-us search-area" >
                
         <h2>Contact Us</h2>

      </div>
      <div class="row center-text"><h3>Let's Start a Conversation</h3></div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 outer-form">
          <h5>Send us your feedback:</h5>
            <p>Your feedback and reccomendations help us to improve your experience</p>
            <h5>Donate:</h5>
            <p>Your donations help us keep the platform free and accessible to all. Contact us to learn how you can do this</p>
            <p>0729825703</p>
            <h5>Share:</h5>
            <p>You can also share the platform with your friends on all social media platforms.</p>
            <p><a href="" style="padding: 10px;"><i class="fa fa-facebook" style="font-size:20px;color:#07152b "></i></a>
                <a href="" style="padding: 10px;"><i class="fa fa-instagram" style="font-size:20px;color:#07152b"></i></a>
                <a href="" style="padding: 10px;"><i class="fa fa-whatsapp" style="font-size:20px;color:#07152b"></i></a>
                <a href="" style="padding: 10px;"><i class="fa fa-facebook" style="font-size:20px;color:#07152b"></i></a></p>
            <div id="googleMap" style="width:100%;height: 330px;"></div>

        </div>
          <div class="col-lg-4 outer-form" style="border-left: 2px solid black;">
              <div class="form">
                {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                  
                  {% endfor %}
                {% endif %}
              <p>Please note all fields are required.</p>
              <form action="{% url 'contact_us' %}" method="POST" style="display: inline;">
                  {% csrf_token %}
                  <label for="name">Full Name:</label><br>
                  <input type="text" name="name" class="input-field" size="50" required><br>
                  <label for="email">Email:</label><br>
                  <input type="email" name="email" class="input-field" required><br>
                  <label for="phone-number">Phone No.:</label><br>
                  <input type="tel" name="phone_number" class="input-field" required><br>
                  <label for="message">Message:</label><br>
                  <textarea name="message" id="" cols="" rows="6" class="input-field"></textarea><br>
                  <button type="submit" class="form-btn">Send</button>
              </form>
            </div>
           

          </div>
          <div class="col-lg-1"></div>
      </div>
      

      {% block content %}
      {% endblock %}
      <br>





      <div class="row main-navv">
        <div class="icon-div">

          <a href=""><i class="fa fa-facebook" style="font-size:20px;color:white"></i></a>
            <a href=""><i class="fa fa-instagram" style="font-size:20px;color:white"></i></a>
            <a href=""><i class="fa fa-whatsapp" style="font-size:20px;color:white"></i></a>
            <a href=""><i class="fa fa-envelope" style="font-size:20px;color:white"></i></a>
          </div>
          <p class="footer-tagline">"Watching a movie for the first time is a flirt. Rewatching it, is a date"~ Guillermo del Toro</p>
          
          
            <p class="footer-text">Copyright@2022| Designed and Created by Jim</p>
              

        </div>
        
            
            
            
        

    </div>
    </div>
    

    <script>
      function myMap() {
      var mapProp= {
        center:new google.maps.LatLng(-0.023559,37.906193),
        zoom:5,
      };
      var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker = new google.maps.Marker({
  position:new google.maps.LatLng(-0.281490,36.078419),
  animation:google.maps.Animation.BOUNCE
});

marker.setMap(map); 
      }
      </script>
      
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSCtcubOp6w7GGLA9HASMQkFQVyT_EwTE&callback=myMap"></script>


      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>