{% extends 'base.html' %}
{% load static %}

{% block content %}




        <div class="">
            {% if searchResults is None %}
          
            <div class="">
                <br>
                <h5 class="section-title">Popular Movies</h5>
                
                <div class="scroller">
                  
                     {% for movie in popular.results %} 
                     <a href="{% url 'details' movie.id %}" class="anchor-text">
                    
        
                        <div class="card pr-4 scroller-item" >
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap" onerror="this.src='static/default-movie.jpg';">
                            <div class="card-body">
                                <p class="card-title" >{{ movie.title }}</p>
                                <p class="card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div> 
                    </a> 
                    {% endfor %}
                
                </div>
            
            </div>

            <div class="">
                <br>
                <h5 class="section-title">Now Playing Movies</h5>
                <div class="scroller">
                  
                    {% for movie in now_playing.results %}
                    <a href="{% url 'details' movie.id %}" class="anchor-text">
        
                        <div class="card pr-4 scroller-item" >
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap" onerror="this.src='static/default-movie.jpg';">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.title }}</h6>
                                <p class="card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div> 
                    </a> 
                    {% endfor %}
                
                </div>
            </div>

            <div class="">
                <br>
                <h5 class="section-title">Upcoming</h5>
                <div class="scroller">
                  
                    {% for movie in upcoming.results %}
                    <a href="{% url 'details' movie.id %}" class="anchor-text">
        
                        <div class="card pr-4 scroller-item" >
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="Card image cap" onerror="this.src='static/default-movie.jpg';">
                            <div class="card-body">
                                <h6 class="card-title responsive-card-title">{{ movie.title }}</h6>
                                <p class="card-text responsive-card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div>  
                    </a>
                    {% endfor %}
                
                </div>
            </div>
            <div class="">
                <br>
                <h5 class="section-title">Animations</h5>
                <div class="scroller">
                  
                    {% for movie in animations.results %}
                    <a href="{% url 'details' movie.id %}" class="anchor-text">
        
                        <div class="card pr-4 scroller-item" >
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap" onerror="this.src='static/default-movie.jpg';">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.title }}</h6>
                                <p class="card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div>  
                    </a>
                    {% endfor %}
                
                </div>
            </div>
            <br>

            <div class="">
                <br>
                <h5 class="section-title">Tv Shows</h5>
                
                <div class="scroller">
                  
                     {% for movie in tvshows.results %} 
                     <a href="{% url 'detailsTv' movie.id %}" class="anchor-text">
                    
            
                        <div class="card  scroller-item" >
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap" onerror="this.src='static/default-movie.jpg';">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.name }}</h6>
                                <p class="card-text">First aired: {{ movie.first_air_date }}</p>
                                
                            </div>
                        </div> 
                    </a> 
                    {% endfor %}
                
                </div>
            
            </div>
            {% else %}
            <div class="">
                <br>
                <h5 class="section-title">Search Results</h5>
                
                <div class="scroller">
                  
                     {% for movie in searchResults.results %} 
                     <a href="{% url 'details' movie.id %}" class="anchor-text">
                    
        
                        <div class="card pr-4 scroller-item" >
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap" onerror="this.src='static/default-movie.jpg';">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.title }}</h6>
                                <p class="card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div> 
                    </a> 
                    {% endfor %}
                
                </div>
            
            </div>
            {%  endif %}




        </div>

        {% endblock content %}
        
        
   


  
    
    
