{% extends 'base.html' %}
{% load static %}

{% block content %}




        <div class="">
            <div class="row search-area" >
                
                <form action="" method="get">
                    {% csrf_token %}
                    <div><p class="search-area-title ">Explore</p></div>
                    <div><p class="search-area-text">thousands of movies, Tv shows, Series and Documentaries......</p></div>
                    <div class="search-bar-wrapper">                       
                        <input type="text" class="search-bar" placeholder="Search movies, tv shows and Documentaries">
                        <button type="submit" class="button">Search</button>
                    </div>
                </form>

            </div>
            <div class="">
                <br>
                <h5 class="section-title">Popular Movies</h5>
                
                <div class="scroller">
                  
                     {% for movie in popular.results %} 
                     <a href="{% url 'details' movie.id %}" class="anchor-text">
                    
        
                        <div class="card pr-4 scroller-item" style="width: 14rem; height: 21rem;">
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.title }}</h6>
                                <p class="card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div> 
                    </a> 
                    {% endfor %}
                
                </div>
            
            </div>

            <div class="">
                <br>
                <h5 class="section-title">Now Playing Movies</h5>
                <div class="scroller">
                  
                    {% for movie in now_playing.results %}
                    <a href="{% url 'details' movie.id %}" class="anchor-text">
        
                        <div class="card pr-4 scroller-item" style="width: 14rem; height: 21rem;">
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.title }}</h6>
                                <p class="card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div> 
                    </a> 
                    {% endfor %}
                
                </div>
            </div>

            <div class="">
                <br>
                <h5 class="section-title">Upcoming</h5>
                <div class="scroller">
                  
                    {% for movie in upcoming.results %}
                    <a href="{% url 'details' movie.id %}" class="anchor-text">
        
                        <div class="card pr-4 scroller-item" style="width: 14rem; height: 21rem;">
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.title }}</h6>
                                <p class="card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div>  
                    </a>
                    {% endfor %}
                
                </div>
            </div>
            <div class="">
                <br>
                <h5 class="section-title">Animations</h5>
                <div class="scroller">
                  
                    {% for movie in animations.results %}
                    <a href="{% url 'details' movie.id %}" class="anchor-text">
        
                        <div class="card pr-4 scroller-item" style="width: 14rem; height: 21rem;">
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.title }}</h6>
                                <p class="card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div>  
                    </a>
                    {% endfor %}
                
                </div>
            </div>
            <br>




        </div>

        {% endblock content %}
        
        
   


  
    
    
