{% extends 'base.html' %}
{% load static %}

{% block content %}




        <div class="">
         
            <div class="">
                <br>
                <h5 class="section-title">Movies</h5>
                
                <div class="scroller">
                  
                     {% for movie in trendingmovies.results %} 
                     <a href="{% url 'details' movie.id %}" class="anchor-text">
                    
        
                        <div class="card pr-4 scroller-item" style="width: 14rem; height: 21rem;">
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap" onerror="this.src='static/default-movie.jpg';">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.title }}</h6>
                                <p class="card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div> 
                    </a> 
                    {% endfor %}
                
                </div>
            
            </div>

            <div class="">
                <br>
                <h5 class="section-title">TV Shows</h5>
                <div class="scroller">
                  
                    {% for movie in trendingtv.results %}
                    <a href="{% url 'details' movie.id %}" class="anchor-text">
        
                        <div class="card pr-4 scroller-item" style="width: 14rem; height: 21rem;">
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap" onerror="this.src='static/default-movie.jpg';">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.name }}</h6>
                                <p class="card-text">First aired: {{ movie.first_air_date }}</p>
                               
                            </div>
                        </div> 
                    </a> 
                    {% endfor %}
                
                </div>
            </div>

            {% comment %}
            

            <div class="">
                <br>
                <h5 class="section-title">People</h5>
                <div class="scroller">
                  
                    {% for movie in trendingperson.results %}
                    <a href="{% url 'details' movie.id %}" class="anchor-text">
        
                        <div class="card pr-4 scroller-item" style="width: 14rem; height: 21rem;">
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" style="width: 180px; height: 240px; border-radius: 10px;" alt="Card image cap" onerror="this.src='static/default-movie.jpg';">
                            <div class="card-body">
                                <h6 class="card-title">{{ movie.title }}</h6>
                                <p class="card-text">Release: {{ movie.release_date }}</p>
                                
                            </div>
                        </div>  
                    </a>
                    {% endfor %}
                
                </div>
            </div>
            {% endcomment %}
          
            <br>




        </div>

        {% endblock content %}
        
        
   


  
    
    
